canvas {
    /*border: 1px solid white;*/
    margin: 0 auto;
}
.canvas_container {
    width:100%;
    display: block;
    text-align:center;
}
body {
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    border: 0;
}
button {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: transparent;
}
button:hover {
    background-color: white;
    color: black;
}
.footer {
    width: 100%;
}
#show_settings {
    font-size: 1em;
    color: darkgray;
    text-decoration: underline;
    text-decoration-style:dotted;
    text-decoration-color: darkgrey;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.div_show_settings {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.settings_box {
    width: 100%;
    margin: 0;
    display: none;
    text-align: center;
    height: auto;
}
